In [ ]:
#Question1:
count=0
num=2
while(count<20):
  if(num%2==0):
    pass
  else:
    c=0
    for i in range(1,num+1):
      if(num%i==0):
        c+=1
    
    if(c==2):
      count+=1
      print("%d. Non-even prime natural number : %d"%(count, num))

  num+=1

1. Non-even prime natural number : 3
2. Non-even prime natural number : 5
3. Non-even prime natural number : 7
4. Non-even prime natural number : 11
5. Non-even prime natural number : 13
6. Non-even prime natural number : 17
7. Non-even prime natural number : 19
8. Non-even prime natural number : 23
9. Non-even prime natural number : 29
10. Non-even prime natural number : 31
11. Non-even prime natural number : 37
12. Non-even prime natural number : 41
13. Non-even prime natural number : 43
14. Non-even prime natural number : 47
15. Non-even prime natural number : 53
16. Non-even prime natural number : 59
17. Non-even prime natural number : 61
18. Non-even prime natural number : 67
19. Non-even prime natural number : 71
20. Non-even prime natural number : 73

In [18]:
#Question2:
string="My name Pritam Chatterjee "
print(string.split())
print(string[:15])
print(string.capitalize())
print(string.title())
print(string.isalpha())
print(string.upper())
print(string.lower())
print(string.replace("Pritam","Michel"))
print(string.rstrip())
print(string.startswith("My"))
print(string.index("m",10,20))
print(string.isalnum())
print(string.isdigit())
print(string.join(". HI, all"))
print(string.swapcase())
print(string.lstrip())

['My', 'name', 'Pritam', 'Chatterjee']
My name Pritam
My name pritam chatterjee
My Name Pritam Chatterjee
False
MY NAME PRITAM CHATTERJEE
my name pritam chatterjee
My name Michel Chatterjee
My name Pritam Chatterjee
True
13
False
False
.My name Pritam Chatterjee  My name Pritam Chatterjee HMy name Pritam Chatterjee IMy name Pritam Chatterjee ,My name Pritam Chatterjee  My name Pritam Chatterjee aMy name Pritam Chatterjee lMy name Pritam Chatterjee l
mY NAME pRITAM cHATTERJEE
My name Pritam Chatterjee

In [24]:
#Question3:
from collections import Counter  
texts = ["bcda", "abce", "cbda", "cbea", "adcb","lakal"]
str = "abcd"
print("Orginal list of strings:")
print(texts) 
result = list(filter(lambda x: (Counter(str) == Counter(x)), texts)) 
print(result)
print("\nAnagrams of ",result," in the above string: ")
for word in texts:
  new_word=""
  for i in range(1,len(word)+1):
    new_word+="%s"%word[-i]
  if(word==new_word):
    print("%s is a palindron word"%word)

Orginal list of strings:
['bcda', 'abce', 'cbda', 'cbea', 'adcb', 'lakal']
['bcda', 'cbda', 'adcb']

Anagrams of  ['bcda', 'cbda', 'adcb']  in the above string:
lakal is a palindron word

In [32]:
#Question4:

text=input("Please enter a string : ")
new_text_array=[text[i].lower() for i in range(0,len(text)) if text[i].isalpha()]
new_text=""
for j in new_text_array:
  new_text+="%s"%j
print(new_text)

Please enter a string : hjhjghj&hghgfgh...
hjhjghjhghgfgh